*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Forum', cursive;
    font-weight: 400;
    letter-spacing:.3rem;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgba(4, 4, 4, 0.261);
}
img{
    max-width: 100%;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}

/*========== Start ========= */

.all_phone_number{
    width: 100%;
    margin: auto;
    padding: 3rem;
}
.all_phone_number .member{
    display: flex;
}
.all_phone_number .member .member_info{
    background-color: rgb(206, 9, 9);
    padding: 2rem;
    position: relative;
    flex: 80%;
    border-radius: 1rem 0 0 0;
    text-decoration: none;
    transition: 1s;
    margin-bottom: 1rem;
    box-shadow: 0px 1rem 1rem rgb(114, 114, 114);
}
.all_phone_number .member .member_info:focus{
    margin-bottom: 70rem;
}
.all_phone_number .member .member_info .name{
    color: #fff;
}
.all_phone_number .member .member_info .info{
    position: absolute;
    top: 99.5%;
    left: 0;
    background: rgb(255,26,0);
    background: linear-gradient(38deg, rgba(255,26,0,1) 0%, rgba(0,27,255,1) 100%);     
    width: 125.1%;
    padding: 2rem;
    display: flex;
    align-items: center;
    transform-origin: top center;
    z-index: 99;
    transition: 1s;
    transform: scaleY(0);
}
.all_phone_number .member .member_info:focus .info{
    transform: scaleY(1);
}
.all_phone_number .member .member_info .info .image{
    height: 65rem;
    flex: 50%;
    padding: .5rem;
    overflow: hidden;
}
.all_phone_number .member .member_info .info .image img{
    width: 100%;
    height:100%;
    border-radius: 50%;
    background: rgb(255,0,0);
    background: linear-gradient(-135deg, rgba(255,0,0,1) 0%, rgba(0,95,255,1) 100%); 
}
.all_phone_number .member .member_info .bio{
    flex: 50%;
    padding: 6rem;
}
.all_phone_number .member .member_info .bio p{
    margin: 2rem 0;
    z-index: 9999;
}
.all_phone_number .member .member_info .bio p strong{
    font-size: 4rem;
    display: inline-block;
    width: 19rem;
    padding-right: 1rem;
    color: rgb(255, 89, 0);
}
.all_phone_number .member .member_info .bio p strong span{
    float: right;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}
.all_phone_number .member .member_info .bio p span{
    font-size: 3rem;
    padding-left: 1rem;
    color: rgb(187, 187, 187);
    font-weight: 600;
}

/* Call Icon */

.all_phone_number .member .call_icon{
    flex: 20%;
    background-color: rgb(13, 172, 5);
    border-radius: 0 1rem 0 0;
    margin-bottom: 1rem;
    box-shadow: 0px 1rem 1rem rgb(114, 114, 114);

}
.all_phone_number .member .call_icon a{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}
.all_phone_number .member .call_icon a span{
    display: inline-block;
    position: absolute;
    left: 2rem;
    top: 1.6rem;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}
.all_phone_number .member .call_icon:hover span{
    animation: animation 1.2s linear infinite;
}
@keyframes animation{
    0%{
        margin-left: 0px;
    }
    10%{
        margin-left: 4rem;
    }
    20%{
        margin-left: 0px;
    }
    30%{
        margin-left: 3rem;
    }
    40%{
        margin-left: 0;
    }
    100%{
        margin-left: 0px;
    }
}

/* responsive */

@media (min-width:1920px) and (max-width:2500px) {
    html{
        font-size: 100%;
    }
}
@media screen and (max-width:1500px) {
    html{
        font-size: 70%;
    }
}
@media screen and (max-width:1366px) {
    html{
        font-size: 65%;
    }
}
@media screen and (max-width:1200px) {
    html{
        font-size: 54%;
    }
}
@media screen and (max-width:1024px) {
    html{
        font-size: 45%;
    }
}
@media screen and (max-width:840px) {
    html{
        font-size: 36%;
    }
}
@media screen and (max-width:700px) {
    html{
        font-size: 30%;
    }
}
@media screen and (max-width:550px) {
    html{
        font-size: 23%;
    }
}
@media screen and (max-width:450px) {
    html{
        font-size: 19%;
    }
}
@media screen and (max-width:450px) {
    html{
        font-size: 19%;
    }
}
@media screen and (max-width:376px) {
    html{
        font-size: 17%;
    }
}
@media screen and (max-width:325px) {
    html{
        font-size: 15%;
    }
}
@media screen and (max-width:270px) {
    html{
        font-size: 13%;
    }
}
@media screen and (max-width:250px) {
    html{
        font-size: 11%;
    }
}
@media screen and (max-width:200px) {
    html{
        font-size: 8%;
    }
}
    